body {
    background-color: yellow;
    color :dodgerblue;
    text-align: center;
}

#body {
    margin: auto;
    background-color: dodgerblue;
    color: red;
    text-align: center;
    width: 50%;
    border-radius: 10px;
}

#image {
    width: 500px;
}