body {
    background-color: yellow;
    color :dodgerblue;
    text-align: center;
}

tbody{
    margin: auto;
    background-color: dodgerblue;
    color: red;
    text-align: center;
    width: 50%;
}

#image {
    width: 500px;
}